<nb-card size="medium">
  <div class="team-photo">
    <a href="mailto:contact@Spacer.com">
      <button type="button" class="btn btn-success btn-icon team-link">
        <i class="ion-paper-airplane"></i>
      </button>
    </a>
  </div>

  <div class="team-info">
    <div class="team-title">
      <h2>Spacer Team</h2>
    </div>
    <div class="team-subtitle">Design & Development</div>
    <div class="team-bio">
      We're small team of fullstack software experts. We're crazy about creation of modern and secure software. We help to make
      your product amazing.
    </div>
  </div>

  <div class="links">
    <a href="https://www.Spacer.com" target="_blank">
      <i class="ion-ios-world-outline"></i>
    </a>
    <a href="https://www.facebook.com/Spacer" target="_blank">
      <i class="ion-social-facebook"></i>
    </a>
    <a href="https://twitter.com/Spacer_inc" target="_blank">
      <i class="ion-social-twitter"></i>
    </a>
    <a href="https://github.com/Spacer" target="_blank">
      <i class="ion-social-github"></i>
    </a>
  </div>
</nb-card>
